<ion-header>
  <ion-toolbar>
    <ion-title>
      Carrera de Caballos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  

  <div class="centrado">
    



  </div>


<div class="gifloading"> 


  <ion-button color="secondary" routerLink="/uno">Un Jugador</ion-button>
  <ion-button color="secondary" routerLink="/dos">Dos  Jugadores</ion-button>
  <ion-button color="secondary" routerLink="/tres">Tres Jugadores</ion-button>
  <ion-button color="secondary" routerLink="/varios">Cuatro Jugadores</ion-button>


</div >
  







  

</ion-content>